* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration: none;
}
.pagination {
  position: relative;
  display: flex;
  overflow: hidden;
  --color: #17a2ff;
  top: 200px;
  margin-left: 130px;
  padding: 10px 60px;
}
.pageNumbers {
  list-style: none;
  display: flex;
}
.pageNumbers li {
  padding: 8px;
  border: 1px solid #017143;
  cursor: pointer;
}
.pageNumbers li.active {
  background-color: #fff;
  color: black;
}
.pagination ul {
  list-style: none;
  text-align: center;
}
.pagination ul li {
  display: inline-block;
}
.pagination ul li button {
  cursor: pointer;
}

button {
  height: 35px;
  font-size: large;
}
input {
  text-align: left;
}
.btn {
  position: relative;
  text-decoration: none;
  color: #017143;
  letter-spacing: 7px;
  transition: all 0.6s ease;
}
.btn-2 {
  border: 3px solid;
}
.btn-2:hover {
  background-color: #fff;
  box-shadow: 0 0 20px var(--color);
  border-color: var(--color);
}
.btn-2 span:nth-child(n) {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px solid;
  transition: all 0.6s ease;
}
.btn-2 span:nth-child(1) {
  right: 10%;
  top: -15%;
  background-color: #17a2ff;
}
.btn-2 span:nth-child(2) {
  left: 10%;
  bottom: -10px;
}
.btn-2:hover span:nth-child(1) {
  right: 80%;
  transform: rotate(90deg);
  color: var(--color);
  background-color: var(--color);
}
.btn-2:hover span:nth-child(2) {
  left: 80%;
  transform: rotate(90deg);
  color: var(--color);
}
