.landing {
  background-color: #fff;
  display: flexbox;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.all {
  background-color: #16384c;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin-top: 15%;
}

.navbar {
  background-color: #16384c;
}
